/*general*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: cursive;
}
a{
    color:rgb(58, 58, 253) ;
}
.container{
    display: flex;
    align-items: center;
    padding: 250px;
    justify-content: center;
    height: 100vh;
    background-image: url(pexels-george-milton-7034644.jpg);
    background-position: right;
}

/* home */
.content{
    text-align: center;
}
h1,h2,p{
    text-transform: capitalize;
}
h2{
   font-size: 35px;
   font-family: cursive;
}
span{
    color: #eee;
    background-color: rgba(53, 94, 255, 0.6);
    border-radius: 3px
}
h1{
    font-size: 50px;
}
p{
    font-size: 25px;
    text-shadow: 2px 2px #b3b2b2;
    margin-bottom: 10px;
}
.btn{
    display: inline-block;
    padding: 0px 25px;
    padding-top: 4px;
    height: 40px;
    margin: 7px;
    font-weight: bold;
    border-radius: 3px;
    font-size: large;
}
.btn1{
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    width: 150px;
}
.btn1:hover{
    background-color:rgba(53, 94, 255, 0.6);
    color: rgba(0, 0, 0, 0.8);
    transition: background-color  1.5s;
}
.btn2{
    background-color:rgba(53, 94, 255, 0.6);
    color: rgba(0, 0, 0, 0.8);
    width: 150px;
}
.btn2:hover{
    color: #eee;
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color  1.5s;
}

/*form*/
/* .form_cont{
    background-color: #faf7f7;
} */
/* .form_cont form{
    /* background-color: rgb(58, 58, 253,0.4); */
 /*   background-color: rgb(58, 58, 253, 0.3);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    box-shadow:  5px 10px rgba(0, 0, 0, 0.8);
    width: 550px;
}
form h2{
    margin-bottom: 20px;
}
form input,form select{
    width: 100%;
    padding: 12px;
    margin-bottom: 2px;
    font-size: 18px;
    border-radius: 5px;
    border:none;
    color:rgb(58, 58, 253) ;
    background-color: rgba(256, 256, 256, 0);
    cursor: pointer;
    outline: none;
}
form select option{
    background-color: #eee;
}
form .button{
    margin-top: 15px;
    background-color: rgba(256, 256, 256, 0.5);
    color: rgb(58, 58, 253);
    font-weight: bold;
}
.form_cont p,form h2{
    text-shadow:  2px 2px #8e8c8c;
}

 form .errmsg{
    display: block;
    background-color: white;
    color: black;
    font-weight: bold;
    text-shadow: 3px 3px #b3b2b2;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 15px;
    padding-bottom:5px ;
} 
.error{
    display:block;
    background-color: rgb(255,175,175);
    color: rgb(255,0,0);
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
} */
